@model IEnumerable<MVCEcommerce.Models.Producto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Emporio Suelto</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInscripto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    <img id="imagenes" src="@Url.Content(item.Imagen)" alt="alternative text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInscripto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProducto">Agregar al carrito</a>
                    <a asp-action="Details" asp-route-id="@item.IdProducto">Details</a>
                    @* <button asp-action="CambiarValor" asp-route-id="@item.IdProducto">Agregar a carrito</button> *@
                </td>
            </tr>
        }
    </tbody>
</table>
